########################################
# Personal eruby snippets
########################################

snippet todo
	<%#TODO JQ: ${0:implement} %>
snippet pry
	<% require 'pry'; binding.pry #TODO JQ do not commit %>
