########################################
# Personal Ruby and Rails Snippets
########################################

snippet todo
	#TODO JQ: ${0:implement}
snippet pry
	binding.pry #TODO JQ do not commit
snippet rpry
	require 'pry'; binding.pry #TODO JQ do not commit
